.App > *:not(:last-child) {
    margin-bottom: 16px;
}

.g-4 {
    max-width: 100%;
}

.halfheight {
    height: 50%;
}

.wrapper {
    width: 100vw;
    overflow: hidden;
  }
  
  .marquee {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 40s linear infinite;
  }
  
  .marquee p {
    display: inline-block;
    animation-delay: 0s;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }

  .footer {
    min-width: 100%;
  }

  .h-70 {
    height: 70%;
  }

  .App {
    height: 100%;
  }